
<div class="pad-top col-md-12">
             
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          
          <th>Title</th>
          <th>Template</th>
          <th>Published on</th>
          <th>Subscribers</th>
        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mrs. 180</td>
          <td>Replica Fancy Omega De Ville Co Axial Movement</td>
         
          <td>22/12/2019</td>
          <td><i class="fas fa-users"></i></td>
        </tr>
        <tr>
            <td>Mrs. 180</td>
            <td>Replica Fancy Omega De Ville Co Axial Movement</td>
           
            <td>22/12/2019</td>
            <td><i class="fas fa-users"></i></td>
          </tr>
          <tr>
              <td>Mrs. 180</td>
              <td>Replica Fancy Omega De Ville Co Axial Movement</td>
             
              <td>22/12/2019</td>
              <td><i class="fas fa-users"></i></td>
            </tr>
      </tbody>
    </table>
  
  